<!DOCTYPE html>
<html>
    <body>
		<div>
			<h3 th:text="*{artistName}"></h3>
			<hr>

			<h3>MusicBrainz info:</h3>
			<ul th:each="item : ${musicBrainz}">
				<li th:text="*{'Founded: ' + item.year}"></li>
				<li th:text="*{'From: ' + item.from}"></li>
				<li th:text="*{'Genre: ' + item.genres}"></li>
			</ul>
			<hr>
			<b>Spotify popular tracks:</b>
			<div th:each="item : ${spotify}">
				<span th:each="track : ${item.popularSongs}" th:text="${track + ', '}">
				</span>
			</div>
			<hr>
			<b>Apple Music top songs:</b>
			<div th:each="item : ${apple}">
				<span th:each="track : ${item.topSongs}" th:text="${track + ', '}">
				</span>
			</div>
        </div>
        <hr>
		<footer>
			<small th:text="
				${#dates.createNow().getTime() - startTime}
				+ 'ms (response handling time)'
			">
			</small>
		</footer>
	</body>
</html>
