<!DOCTYPE html>
<html>
    <body>
		<div>
			<h3 th:text="${artistName}"></h3>
			<hr>
			<h3>MusicBrainz info:</h3>
			<ul>
				<li th:text="${'Founded: ' + musicBrainz.year}"></li>
				<li th:text="${'From: ' + musicBrainz.from}"></li>
				<li th:text="${'Genre: ' + musicBrainz.genres}"></li>
			</ul>
			<hr>
			<b>Spotify popular tracks: </b>
			<span>
				<th:block th:each="track : ${spotify.popularSongs}" th:text="${track + ', '}"></th:block>
			</span>
        </div>
        <hr>
		<footer>
			<small th:text="
				${#dates.createNow().getTime() - startTime}
				+ 'ms (response handling time)'
			">
        	</small>
		</footer>
	</body>
</html>
